<div class="footer bg-dark">
  <div class="footer-links">
    <a href="https://www.github.com/users/ssaunier"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lewagonargentina"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/lewagonbsas"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/lewagonbsas"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/lewagon"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright text-white">
    Le Chauffeaur &copy; 2020 (Powered by Le Wagon)
  </div>
</div>
