<div class="footer">
  <div class="container">
    <div class="footer-links">
      <a href="https://www.facebook.com/?stype=lo&jlou=AfeS_bLtO7QciQcfttzdoJhEvLSJNmqAATuxOPUsMQZwkLuEj6ZL1fQZvHdds-vyaPetTqVWEjV22D1G2VIA0AA4DQGGwghxAqxSR2zKzY5Z5w&smuh=61354&lh=Ac_EHp2VCu4hzs4Q"><i class="fab fa-facebook" id="redessociales"></i></a>
      <a href="https://twitter.com/login?lang=es"><i class="fab fa-twitter" id="redessociales"></i></a>
    </div>
</div>
<div class="footer-copyright" padding=30px>
  This web were make by <i class="fas fa-code"></i> Le chauffeaur.
</div>
