<div class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 justify-content-center mb-xs-1">
        <div class="footer-links d-flex justify-content-center">
          <a href="https://www.github.com/users/ssaunier" target='_blank'><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/lewagonargentina" target='_blank'><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/lewagonbsas" target='_blank'><i class="fab fa-facebook"></i></a>
          <a href="https://www.twitter.com/lewagonbsas" target='_blank'><i class="fab fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/lewagon" target='_blank'><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-12 col-md-8 justify-content-center mx-auto">
        <div class="footer-copyright text-white text-wrap w-75 mx-auto text-center">
          Le Chauffeaur &copy; 2020 (Powered by Le Wagon)
        </div>
      </div>
    </div>
  </div>
</div>
