<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram" id="redessociales"></i></a>
    <a href="#"><i class="fab fa-facebook" id="redessociales"></i></a>
    <a href="#"><i class="fab fa-twitter" id="redessociales"></i></a>
  </div>
</div>
<div class="footer-copyright" padding=30px>
  This web were make by <i class="fas fa-code"></i> Le chauffeaur.
</div>
