#redessociales {
  color:black;
  margin: 2px;
  font-size: 30px;
  margin-left: 10px
}

.footer-links {
  margin-top: 15px;
  justify:content;
  display: flex;
  margin-left: 1100px;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  height: 400px;
}

.nostros{
  margin-top: 100px;
}

