.add-car {
  background-image: url(https://images.unsplash.com/photo-1434187008486-2768576189ee?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  height: 100vh;
}

.card-card-new {
  background-color: rgba(0,0,0,0.5);
  margin: 5px;
}

.text-new-car h1{
  width: 100px;
}
#new_car{
  margin:20px;
  border-radius: 5px
}

.btn-danger {
  width: 100%;
  }
