.cars-wrapper {
  min-height: calc(100vh - 70px)
}

.cards-index {
  margin: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  flex-grow: 1;
  align-content: flex-start;
}


.card-product {
  border-radius: 5px;
  margin: 12px;
  overflow: hidden;
  height: 340px;
  width: 530px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 310px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 5px;
}

.card-product .card-product-infos {
  padding: 16px;
}
.card-new-car-wrapper {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.card-product-new {
  margin: 12px;
  overflow: hidden;
  height: 340px;
  width: 540px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  i {
    font-size: 200px;
    text-align: center;
    color: lightgrey;
    &:hover {
      color: grey;
    }
  }
}













